@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scroll on body */
    user-select: none;
    /* App-like feel */
    -webkit-user-select: none;
}

.font-amiri {
    font-family: 'Amiri', serif;
}

/* Tifinagh Font Support */
[lang="zgh"] {
    font-family: 'Noto Sans Tifinagh', 'Cairo', sans-serif;
}

/* Glassmorphism utilities */
.glass-panel {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/* Hide scrollbar for chrome/safari/opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}